ion-label{
	white-space: pre-line!important;
}
.slide{
    height:140px;
}
.image--background {
    background-size: cover;
 }
 .product_box {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
 }  