<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hometab">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="category">
      <ion-label>Category</ion-label>
      <ion-icon name="grid"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-label>Cart</ion-label>
      <ion-icon name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-label>Orders</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="invoice">
      <ion-label>invoice</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>